.main {
  padding: 1.5vh 7%;
  background: #f7f7f7;
}

.card__main_img {
  width: 60vh;
  aspect-ratio: 19/15;
  border-radius: .5vh;
  margin-bottom: 1vh;
}

.card__view {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  gap: 3vh;
}

.card__view_name {
  font-size: 4vh;
}

.card__view_title {
  color: #545454;
  margin-bottom: 2vh;
}

.card__view_imgs {
  display: flex;
  gap: 1vh;

  img {
    width: 9vh;
    border-radius: .5vh;
  }
}

.card__view_table {
  background: white;
  padding: 1.5vh 2vh;
  border: .15vh solid #EDEDF0;
  border-radius: .5vh;
}

.card__view_content {
  width: 45%;
}

.card__table_stat {
  display: flex;
  color: #292929;
  align-items: center;
  margin: 1vh 0;
}

.table__stat_gap {
  width: 100%;
  height: 1.5vh;
  border-bottom: .2vh solid #EDEDF0;
  margin-left: 1vh;
}

.card__table_name {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.table__stat_number {
  width: 5vh !important;
  text-align: right;
}

.card__view_pay {
  background: white;
  padding: 1.5vh 2vh;
  border: .15vh solid #EDEDF0;
  border-radius: .5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

.card__pay_cost {
  color: #E7426A;
  font-size: 3.5vh;
}

.card__pay_button {
  background: #E7426A;
  color: white;
  padding: 1.5vh 5vh;
  font-size: 2.5vh;
  border: 0;
  border-radius: .5vh;
}
