.main {
  padding: 1.5vh 7%;
  background: #f7f7f7;
}

.card__main_img {
  width: 60vh;
  aspect-ratio: 19/17;
  border-radius: .5vh;
  margin-bottom: 1vh;
}

.card__view {
  display: flex;
  margin-top:2vh;
  justify-content: center;
  gap: 3vh;
}

.card__view_name {
  font-size: 4vh;
  font-weight: bolder;
  margin-bottom: 1vh;
}

.card__view_title {
  color: #545454;
  font-size: 1.5vh;
  margin-bottom: 2vh;
}

.card__view_imgs {
  display: flex;
  gap: 1vh;

  img {
    width: 10vh;
    aspect-ratio: 19/16;
    border-radius: .5vh;
  }
}

.card__view_table {
  background: white;
  padding: 1.5vh 2vh;
  border: .15vh solid #EDEDF0;
  border-radius: .5vh;
}

.card__view_content {
  width: 35%;
}

.card__table_stat {
  display: flex;
  color: #292929;
  align-items: center;
  margin:1.5vh 0;
  font-size: 1.5vh;
}

.table__stat_gap {
  width: 100%;
  height: 1.5vh;
  border-bottom: .1vh solid #EDEDF0;
  margin-left: .5vh;
}

.card__table_name {
  font-size: 2.5vh;
  font-weight:600;
}

.table__stat_number {
  width: 5vh !important;
  text-align: right;
}

.card__view_pay {
  background: white;
  padding: 1.5vh 2vh;
  border: .15vh solid #EDEDF0;
  border-radius: .5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

.card__pay_cost {
  color: #E7426A;
  font-size:2.5vh;
  font-weight:600;
}

.card__pay_button {
  background: #E7426A;
  color: white;
  padding: 1vh 5vh;
  font-size: 2vh;
  border: 0;
  border-radius: .5vh;
}
.card__stat{
  display: flex;
  align-items: center;
  gap: 1vh;
  font-size: 1.3vh;
  margin:2vh 0;
  &:last-child{
    img{
      width: 2.5vh;
      height:2.5vh;
      margin-right:.4vh ;
    }
  }
}
