<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="main">
  <div class="main__links">Главная > Каталог > Готовые наборы</div>
  <div class="card__view">
    <div class="card__view_show">
      <img class="card__main_img" [src]="'http://localhost:8080/' + item.images[0]" />
      <div class="card__view_imgs">
        <img class="card__side_img" src="../../../../assets/buckets.png"/>
        <img class="card__side_img" src="../../../../assets/buckets.png"/>
        <img class="card__side_img" src="../../../../assets/buckets.png"/>
      </div>
    </div>
    <div class="card__view_content">
      <div class="card__view_name">{{item.name}}</div>
      <div class="card__view_title">{{ item.title }}</div>
      <div class="card__view_table">
        <div class="card__table_name">Вкусы:</div>
        <div class="card__table_stat">
          <div class="table__stat_name">Яблоко</div>
          <div class="table__stat_gap"></div>
          <div class="table__stat_number">4 шт.</div>
        </div>
        <div class="card__table_stat">
          <div class="table__stat_name">Яблоко</div>
          <div class="table__stat_gap"></div>
          <div class="table__stat_number">4 шт.</div>
        </div>
        <div class="card__table_stat">
          <div class="table__stat_name">Яблоко</div>
          <div class="table__stat_gap"></div>
          <div class="table__stat_number">4 шт.</div>
        </div>
      </div>
      <div class="card__view_pay">
        <div class="card__pay_cost">{{item.price}} руб</div>
        <button class="card__pay_button">В корзину</button>
      </div>
      <div class="card__view_stats">
        <div class="card__stat">
          <img src="../../../../assets/Group%2018.png"/>
          <div>Доставка от 400 руб. в день заказа с 12 до 17 или с 17 до 21. Бесплатно при заказе на сумму от 2000 руб
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
