<div class="main">
  <div class="main__links">Главная > Каталог > Готовые наборы</div>
  <div class="main__link">Готовые наборы</div>
  <div class="main__row">
    <div>Свадьба</div>
    <div>Девичник</div>
    <div>День рождения</div>
    <div>8 марта</div>
    <div>23 февраля</div>
    <div>День учителя</div>
    <div>1 сентября</div>
    <div>Пасха</div>
    <div>Без печати</div>
    <div>Без печати</div>
    <div>Без печати</div>
    <div>Без печати</div>
  </div>
  <div class="main__cards">
    <div routerLink="card"  class="box__card">
      <div class="box__card_info">
        <img src="../../../../assets/buckets.png"/>
        <div class="box__content">
          <div class="box__name">Сердце</div>
          <div class="box__title">24 штуки в коробке в виде сердца. <br>
            Ассорти из 6 вкусов
          </div>
        </div>
        <div class="box__buttons">
          <div class="box__buttons_cost">2800 руб</div>
          <div class="box__buttons_add">В корзину</div>
        </div>
      </div>
    </div>
    <div class="box__card">
      <div class="box__card_info">
        <img src="../../../../assets/buckets.png"/>
        <div class="box__content">
          <div class="box__name">Сердце</div>
          <div class="box__title">24 штуки в коробке в виде сердца. <br>
            Ассорти из 6 вкусов
          </div>
        </div>
        <div class="box__buttons">
          <div class="box__buttons_cost">2800 руб</div>
          <div class="box__buttons_add">В корзину</div>
        </div>
      </div>
    </div>
    <div class="box__card">
      <div class="box__card_info">
        <img src="../../../../assets/buckets.png"/>
        <div class="box__content">
          <div class="box__name">Сердце</div>
          <div class="box__title">24 штуки в коробке в виде сердца. <br>
            Ассорти из 6 вкусов
          </div>
        </div>
        <div class="box__buttons">
          <div class="box__buttons_cost">2800 руб</div>
          <div class="box__buttons_add">В корзину</div>
        </div>
      </div>
    </div>
    <div class="box__card">
      <div class="box__card_info">
        <img src="../../../../assets/buckets.png"/>
        <div class="box__content">
          <div class="box__name">Сердце</div>
          <div class="box__title">24 штуки в коробке в виде сердца. <br>
            Ассорти из 6 вкусов
          </div>
        </div>
        <div class="box__buttons">
          <div class="box__buttons_cost">2800 руб</div>
          <div class="box__buttons_add">В корзину</div>
        </div>
      </div>
    </div>
    <div class="box__card">
      <div class="box__card_info">
        <img src="../../../../assets/buckets.png"/>
        <div class="box__content">
          <div class="box__name">Сердце</div>
          <div class="box__title">24 штуки в коробке в виде сердца. <br>
            Ассорти из 6 вкусов
          </div>
        </div>
        <div class="box__buttons">
          <div class="box__buttons_cost">2800 руб</div>
          <div class="box__buttons_add">В корзину</div>
        </div>
      </div>
    </div>
    <div class="box__card">
      <div class="box__card_info">
        <img src="../../../../assets/buckets.png"/>
        <div class="box__content">
          <div class="box__name">Сердце</div>
          <div class="box__title">24 штуки в коробке в виде сердца. <br>
            Ассорти из 6 вкусов
          </div>
        </div>
        <div class="box__buttons">
          <div class="box__buttons_cost">2800 руб</div>
          <div class="box__buttons_add">В корзину</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main__button">
    <button>
      Показать еще
    </button>
  </div>
</div>
